<% title @investigator.name %>

<% if user_signed_in? && current_user.investigator == @investigator %>
  <%= link_to 'Remove relation', remove_relation_investigator_path(@investigator), method: :patch %>
<% elsif user_signed_in? && current_user.investigator.blank? && @investigator.user.blank? %>
  <%= link_to 'Relation request', relation_request_investigator_path(@investigator), method: :patch %>
<% end %>

<section class="l-app -full">
  <div class="l-app-map">
    <div id="map" class="c-map"></div>
  </div>
  <%= render "shared/legend_people" %>

  <div class="l-app-title">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-8">
          <div class="c-avatar -big -ph -mg-bt"></div>
        </div>
      </div>
      <div class="row collapse">
        <div class="column small-8">
          <h1><%= @investigator.name %></h1>
          <table class="c-numbers-list">
            <thead>
              <tr>
                <th><%= t 'projects' %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @projects.size %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column small-4">
          <%= render "shared/user_actions" %>
        </div>
      </div>
    </div>
  </div>

  <div class="l-app-navbar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-6">
          <ul class="c-tabnav" id="dataTabNav">
             <% @filters.each do |filter| %>
              <li class="tabnav-item">
                <%= link_to t(filter),
                  map_path(request.query_parameters.merge({ data: filter })),
                  class: "-secondary js-btn-mapmenu-type",
                  remote: true,
                  data: { datatype: filter }
                %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column small-6">
          <div id="toolbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="l-grid" id="content">
  <% if @current_type === 'posts' %>
    <%= render 'posts/list', items: @items, more: @more %>
  <% else %>
    <%= render 'projects/list', items: @items, more: @more %>
  <% end %>
</div>
