<% title t('search') %>

<section class="l-content">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-12">

          <%= simple_form_for :search, url: searches_path, method: :get do |f| %>
            <div class="form-row">
              <div id="search-input" class="c-input">
                <%= f.input :item, as: :string, label: false, autofocus: true, placeholder: 'Search for...', input_html: { value: @search_item, class: '-large' } %>
              </div>
            </div>

            <%#= f.input :type, as: :select, collection: @sections, label: false, selected: @search_type %>
            <%= f.input :type, as: :hidden, label: false, input_html: { value: 'All sections' } %>
            <button type="submit" class="c-btn -secondary"><%= t 'search' %></button>
          <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Results: <%#= @search_results.size %> -->
  <div class="l-content">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-12">
          <ul class="c-list row">
            <% @search_results.each do |search| %>
              <li class="column small-12">
                <div class="c-search-item">
                  <%= link_to search.try(:title) || search.try(:name), build_search_link(search.class.name, search.id) %>
                  <% if search.try(:summary).present? || search.try(:description).present? %>
                    <p><%= truncate(search.try(:summary) || search.try(:description), length: 150, omission: '...') %></p>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <p>
    <%#= link_to search.try(:title) || search.try(:name), build_search_link(search.class.name, search.id) %>
  </p>
