
<div class="l-app-map">
  <div id="map" class="c-map"></div>
</div>

<%= render "shared/legend_people" %>

<div class="l-app-title">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-8">
        <% if user.avatar.present? %>
           <div class="c-avatar -big -mg-bt -no-bg"
               style="background-image: url(<%= user.avatar_url(:thumb) %>)">
          </div>
        <% else %>
           <div class="c-avatar -big -mg-bt -secondary">
            <%= render 'shared/placeholder', person: user, size: '-av-big' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row collapse">
      <div class="column small-8">
        <div class="c-title-btn">
          <% if not_blank?(user.name) %>
            <h2><%= user.name %></h2>
          <% end %>
          <% if owner %>
            <%= link_to (t 'edit'), edit_user_path(current_user.id), class: "c-btn -transparent" %>
          <% end %>
        </div>
        <div class="row">
          <div class="column small-12 medium-6">
            <ul class="c-pipe-list">
              <li>
                <% if user.investigator.present? && user.investigator.organizations.any? %>
                  <%= user.investigator.organizations.first.try(:name) %>
                <% end %>
              </li>
              <% if user.position.present? && user.position != '' %>
                <li><%= user.position %></li>
              <% end %>
            </ul>
            <ul class="c-pipe-list">
              <li><%= @following %> Following(s)</li>
              <li><%= @followers %> Follower(s)</li>
            </ul>
          </div>
          <div class="column small-12 medium-6">
            <ul class="c-pipe-list">
              <% if not_blank?(user.twitter_account) %>
                <li>
                  <a href="https://twitter.com/<%= user.twitter_account %>" class="-clickable -hv" target="_blank">
                    Twitter
                  </a>
                </li>
              <% end %>
              <% if not_blank?(user.linkedin_account) %>
                <li>
                  <a href="<%= user.linkedin_account %>" class="-clickable -hv" target="_blank">
                    Linkedin
                  </a>
                </li>
              <% end %>
              <% if not_blank?(user.pubmed) %>
                <li>
                  <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=<%= user.pubmed %>%5BAuthor%5D" class="-clickable -hv" target="_blank">
                    Pubmed
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="column small-4">
         <% if (current_user) %>
          <%= render "shared/user_actions" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
