<div class="row collapse">
  <div class="column small-12 medium-8 -column">
    <article>
      <div class="l-content -no-br -br-bottom wrapper">
        <h2 class=""><%= t 'investigators' %></h2>
        <% if @followPeople.size <= 0 %>
          <p>No investigators</p>
        <% end %>
      </div>
      <%= render 'investigators/net_list', items: @followPeople %>
    </article>

    <article>
      <div class="l-content -br-bottom wrapper">
        <h2><%= t 'projects' %></h2>
        <% if @followProjects.size <= 0 %>
          <p>No projects</p>
        <% end %>
      </div>
      <%= render 'projects/net_list', items: @followProjects %>
    </article>

    <article>
      <div class="l-content -no-br -br-bottom wrapper">
        <h2><%= t 'events' %></h2>
        <% if @followEvents.size <= 0 %>
          <p>No events</p>
        <% end %>
      </div>
      <%= render 'events/net_list', items: @followEvents %>
    </article>
  </div>

  <div class="column row small-12 medium-4">
    <aside class="l-sidebar -no-pad">
      <div class="l-content -no-br wrapper">
        <div id="search-input"></div>
        <svg class="c-icon icon-search -medium -secondary">
          <use xlink:href="#icon-search"></use>
        </svg>
        <svg class="c-icon icon-close -medium -secondary -hidden js-clear-search">
          <use xlink:href="#icon-close"></use>
        </svg>
      </div>
      <div class="wrapper">
          <div id="search-list"></div>
      </div>

      <div class="l-content wrapper">
        <h2><%= t 'countries' %></h2>
      </div>
      <div class="wrapper">
        <ul class="c-list -mg-bottom">
          <% if @followCountries.size > 0 %>
            <% @followCountries.each do |c| %>
              <li class="list-item"><%= link_to c.country_name, country_path(iso: c.country_iso_3), class: '-uppercase' %></li>
            <% end %>
          <% else %>
            <p>No countries</p>
          <% end %>
        </ul>
      </div>

      <div class="l-content wrapper">
        <h2><%= t 'cancer_types' %></h2>
      </div>
      <div class="wrapper">
        <ul class="c-list -mg-bottom">
          <% if @followCancerTypes.size > 0 %>
            <% @followCancerTypes.each do |ct| %>
              <li class="list-item -uppercase"><%= link_to ct.name, cancer_path(slug: ct.slug), class: '-uppercase' %></li>
            <% end %>
          <% else %>
            <p>No cancer types</p>
          <% end %>
        </ul>
      </div>
    </aside>
  </div>
</div>
