<h3 class="c-title -normal -grid wrapper"><%= t "your_projects" %></h3>
<% if @projects && @projects.size() != 0 %>
  <!-- c-grid-projects -->
  <div class="c-card-grid" id="content">
    <!-- Provisional loop  -->
    <% @projects.each do |project| %>
      <div class="card -mobile-small-1-1 -mobile-large-1-2 -tablet-1-3">
        <h4 class="c-card-title -border-1"><%= t 'active' %></h4>
        <%= link_to project_path(project), class: "link" do  %>
          <h3 class="c-title"><%= project.title %></h3>
        <% end %>
        <div class="c-tag-list -closer">
          <% project.cancer_types.each do |t| %>
          <p class="tag"><%= t.name %></p>
          <% end %>
        </div>
        <% if user_signed_in? && @user == current_user %>
          <%= link_to t('edit'), edit_user_project_path(@user, project), class: "c-button -color-3 -network" %>
          <%= link_to t('delete'), user_project_path(@user, project), data: { confirm: 'Are You sure?' }, method: :delete, class: "c-button -color-3 -network" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% @realLimit = params['limit'] ? params['limit'].to_i : 1 %>
  <% if (@realLimit * @limit) < @projectsCount %>
    <div class="c-pagination-button">
      <%= link_to (t 'show_more'),
              user_path(request.query_parameters.merge({ limit: (params['limit'] ? params['limit'].to_i + 1 : 2 )  })),
              class: "circle-button",
              remote: true,
              data: {magic: true} %>
    </div>
  <% end %>
<% else %>
  <div class="c-no-items wrapper">
    <p>No Projects</p>
    <a class="c-button -color-1" href="/network/1/projects/new">Add Project</a>
  </div>
<% end %>


<h3 class="c-title -normal -grid wrapper"><%= t "following" %></h3>
<% if @projectsFollowing && @projectsFollowing.size() != 0 %>
  <!-- c-grid-projects -->
  <div class="c-card-grid">
    <!-- Provisional loop  -->
    <% for i in 1..4 %>
      <div class="card -mobile-small-1-1 -mobile-large-1-2 -tablet-1-3">
        <h4 class="c-card-title -border-1"><%= t 'active' %></h4>
        <a>
          <h3 class="c-title">Research Training in Cancer Prevention and Control in Morocco</h3>
        </a>
        <div class="c-tag-list -closer">
          <% ['Breast', 'Bladder', 'Pancreas'].each do |t| %>
          <p class="tag"><%= t %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% @realLimitFollow = params['limitFollow'] ? params['limitFollow'].to_i : 1 %>
  <% if (@realLimitFollow * @limitFollow) < @projectsCount %>
    <div class="c-pagination-button">
      <%= link_to (t 'show_more'),
              user_path(request.query_parameters.merge({ limitFollow: (params['limitFollow'] ? params['limitFollow'].to_i + 1 : 2 )  })),
              class: "circle-button",
              remote: true,
              data: {magic: true} %>
    </div>
  <% end %>
<% else %>
  <div class="c-no-items wrapper">
    <p>No Projects following</p>
    <a class="c-button -color-1" href="/map?type=projects">Explore projects</a>
    <br/>
    <br/>
  </div>
<% end %>



