<% user = @user %>
<% title user.name %>
<% owner = is_owner?(user, current_user) %>

<section class="l-app -full -secondary">
  <% if !browser.device.mobile? %>
    <%= render "desktop_show_intro", owner: owner, user: user %>
  <% else %>
    <%= render "mobile_show_intro", owner: owner, user: user %>
  <% end %>

  <div class="l-app-navbar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-6">
          <ul class="c-tabnav" id="dataTabNav">
             <% @filters.each do |filter| %>
              <li class="tabnav-item">
                <%= link_to t(filter),
                  map_path(request.query_parameters.merge({ data: filter })),
                  class: "-secondary js-btn-mapmenu-type",
                  remote: true,
                  data: { datatype: filter }
                %>
                <% if filter === 'messages' %>
                  <div class="c-badge <%= filter + '-badge' %><%= current_user.unread_inbox_count === 0 ? ' -hidden' : '' %>"><%= current_user.unread_inbox_count %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column small-6">
          <div id="toolbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="l-grid" id="content">
  <% if @current_type === 'projects' %>
    <%= render 'projects/list', items: @items, more: @more %>
  <% elsif @current_type === 'events' %>
    <%= render 'events/list', items: @items, more: @more %>
  <% elsif @current_type === 'posts' %>
    <%= render 'posts/list', items: @items, more: @more %>
  <% elsif @current_type === 'messages' %>
    <% if owner %>
      <%= render 'messages/list', items: @items, more: @more %>
    <% end %>
  <% elsif @current_type === 'network' %>
    <%= render 'network' %>
  <% end %>
</div>
