<footer class="l-footer">
  <div class="wrapper">
    <div class="row collapse align-middle">
      <div class="column small-12 medium-5">
        <div class="c-nav -social">
          <h2><%= t 'follow_us' %></h2>
          <ul>
            <li><%= link_to t('linkedin'), 'https://www.linkedin.com/topic/global-oncology' %></li>
            <li><%= link_to t('twitter'), 'https://twitter.com/globalonc' %></li>
            <li><%= link_to t('facebook'), 'https://www.facebook.com/globalonc' %></li>
          </ul>
        </div>
      </div>
      <div class="column small-12 medium-7 align-right">
        <div class="c-nav align-right">
          <ul class="-inverse">
            <li>
              <%= link_to t('download'), download_user_manual_path,
                download: 'user-manual', title: t('user-manual')
              %>
            </li>
          </ul>
          <ul>
            <%= render "shared/nav" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
