<footer class="l-footer">
  <div class="wrapper">
    <div class="row collapse align-middle">
      <div class="column small-12 medium-3">
        <div class="c-nav -social">
          <h2><%= t 'follow_us' %></h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/topic/global-oncology" alt="Linkedin" title="Linkedin">
                <svg class="c-icon icon-linkedin -primary -hv-opac"><use xlink:href="#icon-linkedin"></use></svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/globalonc" alt="Twitter" title="Twitter">
                <svg class="c-icon icon-twitter -primary -hv-opac"><use xlink:href="#icon-twitter"></use></svg>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/globalonc" alt="Facebook" title="Facebook">
                <svg class="c-icon icon-facebook -primary -hv-opac"><use xlink:href="#icon-facebook"></use></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column small-12 medium-9 align-right">
        <div class="c-nav align-right">
          <ul class="-inverse">
            <li class="c-translate">
              <div id="googleTranslateGCPM"></div>
            </li>
            <li class="c-translate">
              <%= link_to 'Contact', new_contact_form_path %>
            </li>
            <li>
              <%= link_to 'User Manual', user_manual_path if path_exists?(:user_manual) %>
            </li>
            <li class="c-translate">
              <%= link_to 'FAQ', faq_path if path_exists?(:faq_path) %>
            </li>
          </ul>
          <ul>
            <%= render "shared/nav" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
