<header class="l-header">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-6 align-middle">
        <%= link_to root_path, id: 'logo' do %>
          <%= image_tag 'global-oncology-logo.svg' %>
        <% end %>
      </div>
      <div class="column small-6 align-middle">
        <nav class="c-nav -main">
          <ul>
            <%= render "shared/nav" %>
            <% if user_signed_in? %>
              <li id="notifications">
                <button class="c-dropdown js-action-notifications">
                  <svg class="c-icon -medium -primary"><use xlink:href="#icon-bell"></use></svg>
                  <% if current_user.notifications_count > 0 %>
                    <div class="c-badge -notifications messages-badge <%= current_user.notifications_count %>"><%= current_user.notifications_count %></div>
                  <% end %>
                  <div class="dropdown-content notifications">
                    <% if @notifications.empty? %>
                      <ul class="list">
                        <li class="-empty">Empty</li>
                      </ul>
                    <% else %>
                      <div class="container">
                        <ul class="list -filled">
                          <%= render @notifications %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                </button>
              </li>
              <li class="js-user-menu <%= active_page?(user_session_path) ? '-active' : '' %>">
                <button class="user-btn">
                  <div class="c-avatar" style="background-image: url(<%= current_user.avatar_url(:thumb) %>)"></div>
                </button>
                <%= render 'shared/user_menu' %>
              </li>
            <% else %>
              <li class="<%= active_page?(user_session_path) ? '-active' : '' %>">
                <%= link_to (t 'login'), user_session_path %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
