<header class="l-header">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-6 align-middle">
        <%= link_to root_path, id: 'logo' do %>
          <%= image_tag 'global-oncology-logo.png' %>
        <% end %>
      </div>
      <div class="column small-6 align-middle">
        <nav class="c-nav -main">
          <ul>
            <%= render "shared/nav" %>
            <% if user_signed_in? %>
              <li class="js-user-menu <%= active_page?(user_session_path) ? '-active' : '' %>">
                <button class="user-btn">
                  <div class="c-avatar -ph"></div>
                </button>
                <%= render 'shared/user_menu' %>
              </li>
            <% else %>
              <li class="<%= active_page?(user_session_path) ? '-active' : '' %>">
                <%= link_to (t 'login'), user_session_path %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
