<header class="l-header">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-6 align-middle">
        <%= link_to root_path, id: 'logo' do %>
          <%= image_tag 'global-oncology-logo.svg' %>
        <% end %>
      </div>
      <div class="column small-6 align-middle">
        <nav class="c-nav -main">
          <ul>
            <%= render "shared/nav" %>
            <% if user_signed_in? %>
              <li id="notifications">
                <div class="c-dropdown js-action-notifications">
                  <svg class="c-icon -medium -primary"><use xlink:href="#icon-bell"></use></svg>
                  <% if current_user.notifications_count > 0 %>
                    <div class="c-badge -notifications messages-badge <%= current_user.notifications_count %>">
                      <%= current_user.notifications_count > 9 ? '9+' : current_user.notifications_count %>
                    </div>
                  <% end %>
                  <div class="dropdown-content notifications">
                    <% if @notifications.empty? %>
                      <ul class="list">
                        <li class="-empty">
                          No notifications
                        </li>
                      </ul>
                    <% else %>
                      <div class="container">
                        <ul class="list -filled">
                          <% @notifications.each do |notification|  %>
                            <li class="">
                              <%= link_to notification do %>
                                <p class="group">
                                  <strong><%= notification.notificable_group %> </strong>
                                  <span class="time"><%= notification.timestamp %></span>
                                </p>
                                <p><%= notification.notificable_title %></p>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                      <% if !browser.device.mobile? %>
                        <div class="delete-btn js-action-delete">
                          <%= link_to 'Delete all', mark_all_as_read_notifications_path, method: :put %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
              <li class="js-user-menu <%= active_page?(user_session_path) ? '-active' : '' %>">
                <button class="user-btn">
                  <% if current_user.present? && current_user.avatar.present? %>
                   <div class="c-avatar -no-bg"
                         style="background-image: url(<%= current_user.avatar_url(:thumb) %>)">
                    </div>
                  <% else %>
                    <div class="c-avatar">
                      <%= render 'shared/placeholder', person: current_user, size: '-av-normal' %>
                    </div>
                  <% end %>
                </button>
                <%= render 'shared/user_menu' %>
              </li>
            <% else %>
              <li class="<%= active_page?(user_session_path) ? '-active' : '' %>">
                <%= link_to (t 'login'), user_session_path %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
