<ul class="c-main-nav">
  <li class="<%= active_page?(map_path) ? '-active' : '' %>">
    <%= link_to (t 'map'), map_path %></a>
  </li>
  <li class="<%= active_page?(countries_path) ? '-active' : '' %>">
    <%= link_to (t 'countries'), countries_path %></a>
  </li>
  <li class="<%= active_page?(cancers_path) ? '-active' : '' %>">
    <%= link_to (t 'cancer_types'), cancers_path %></a>
  </li>
  <li class="<%= active_page?(about_path) ? '-active' : '' %>">
    <%= link_to (t 'about'), about_path %></a>
  </li>

  <!-- <li><img src="" class="btn-search"></li> -->

  <% if user_signed_in? %>
    <script>
      var user_data = <%= "#{@user_data.to_json}".html_safe %>;
    </script>
    <li class="user-item" id="UserNav">
      <div class="c-user-profile-picture <%= @isProfile ? "-active" : "" %> js-userMenu">
        <div class="initials"></div>
        <!-- <img src="" alt="{User name}'s profile picture'" /> -->
        <!-- Notifications to set (set element on mobile too) -->
        <div class="c-badge"></div>
      </div>
      <div class="c-user-dropdown-menu js-user-dropdown-menu userMenuDropDown">
        <ul class="user-profile menu-section">
          <li class="item"><%= link_to (t 'your_profile'), user_path(current_user), {:class => "item-link", :method => :get} %></li>
          <li class="item"><%= link_to (t 'logout'), destroy_user_session_path, {:class => "item-link", :method => :delete} %></li>
        </ul>

        <ul class="user-tools menu-section -color-2">
          <li class="item"><%= link_to (t 'add_project'), new_user_project_path(current_user), {:class => "item-link", :method => :get} %></li>
          <li class="item"><%= link_to (t 'add_event'), new_user_event_path(current_user), {:class => "item-link", :method => :get} %></li>
        </ul>
        <ul class="user-stats menu-section proj-even">
        </ul>
      </div>
    </li>
  <% else %>
    <li class="<%= active_page?(user_session_path) ? '-active' : '' %>"><%= link_to (t 'login'), user_session_path %></a></li>
  <% end %>
</ul>

<!-- Mobile menu -->
<div class="mobile-drawer js-mobile-drawer">

  <div class="row mobile-menu">
    <div class="column small-10 logo">
      <%= link_to(home_path) do %>
        <h1>Global cancer project map</h1>
      <% end %>
    </div>
    <div class="column small-2 js-hamburger-menu flex align-right">
      <svg class="icon icon-close">
        <use xlink:href="#icon-close"></use>
      </svg>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <ul class="menu">
        <% if user_signed_in? %>
          <li class="user-avatar">
            <div class="c-user-profile-picture -big <%= @isProfile ? "-active" : "" %>">
              <div class="initials">LK</div>
              <!-- <img src="" alt="{User name}'s profile picture'" /> -->
              <!-- Notifications to set (set element on mobile too) -->
              <% if true %>
                <div class="c-badge">0</div>
              <% end %>
            </div>
          </li>
        <% else %>
          <br/>
          <li class="<%= active_page?(user_session_path) ? '-active' : '' %>"><%= link_to (t 'login'), user_session_path %></a></li>
        <% end %>
        <li class="<%= active_page?(map_path) ? '-active' : '' %>"><%= link_to (t 'map'), map_path %></a></li>
        <li class="<%= active_page?(countries_path) ? '-active' : '' %>"><%= link_to (t 'countries'), countries_path %></a></li>
        <!-- <li class="<%#= active_page?(cancers_path) ? '-active' : '' %>"><%#= link_to (t 'cancer_types'), cancers_path %></a></li> -->
        <li class="<%= active_page?(about_path) ? '-active' : '' %>"><%= link_to (t 'about'), about_path %></a></li>
      </ul>
      <% if user_signed_in? %>
        <ul class="menu user-profile">
          <li class="item"><%= link_to (t 'your_profile'), user_path(current_user), {:class => "item-link", :method => :get} %></li>
          <li class="item"><%= link_to (t 'logout'), destroy_user_session_path, {:class => "item-link", :method => :delete} %></li>
        </ul>

        <ul class="menu user-tools -color-1">
          <li class="item"><%= link_to (t 'add_project'), new_user_project_path(current_user), {:class => "item-link", :method => :get} %></li>
          <li class="item"><%= link_to (t 'add_event'), new_user_event_path(current_user), {:class => "item-link", :method => :get} %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

