<li class="<%= active_page?(map_path) ? '-active' : '' %>">
  <%= link_to (t 'map'), map_path %>
</li>
<li class="<%= active_page?(countries_path) ? '-active' : '' %>">
  <%= link_to (t 'countries'), countries_path %>
</li>
<li class="<%= active_page?(cancers_path) ? '-active' : '' %>">
  <%= link_to (t 'cancer_types'), cancers_path %>
</li>
<% if Rails.application.routes.url_helpers.respond_to?(:about_path) %>
  <li class="<%= active_page?(about_path) ? '-active' : '' %>">
    <%= link_to (t 'about'), about_path %>
  </li>
<% end %>

<% if browser.device.mobile? %>
  <li class="<%= active_page?(searches_path) ? '-active' : '' %>">
    <%= link_to (t 'search'), searches_path %>
  </li>
<% else %>
  <li>
    <a href="/search">
      <svg class="c-icon -medium -primary"><use xlink:href="#icon-search"></use></svg>
    </a>
  </li>
<% end %>
