<div class="column small-4">
  <div>
    <ul class="c-btn-container">
      <li id="followButton">
        <button class="c-btn -secondary -inverse js-btn-follow"
          data-followed="<%= @followed %>"
          data-id="<%= @followed_id %>"
          data-resource="<%= @followed_resource %>">
          <%= (@followed) ? 'Unfollow' : 'Follow' %>
        </button>
      </li>
    </ul>
    <ul class="c-btn-container">
      <li><a href="/network/<%= current_user.id %>/projects/new" class="c-btn -transparent -extra-thin">+ Project</a></li>
      <li><a href="/network/<%= current_user.id %>/posts/new" class="c-btn -transparent -extra-thin">+ Post</a></li>
      <li><a href="/network/<%= current_user.id %>/events/new" class="c-btn -transparent -extra-thin">+ Event</a></li>
    </ul>
  </div>
</div>
