<% controller_name = controller && controller.controller_name %>

<div id="userActionsMobile" class="js-messages-actions-view">
  <%= render 'shared/user_actions_menu_mobile'%>

  <div class="c-mobile-btns-container<% if defined?direction %> <%= direction %><% end %>">
    <button class="c-btn -secondary -border -thin js-btn-more action-btn">
      <svg class="c-icon -normal -inverse">
        <use xlink:href="#icon-plus"></use>
      </svg>
    </button>


    <% if not_me_and_section?(controller_name, @user.present? && @user, get_not_null_user(@investigator)) %>
      <div id="followButton">
        <% if user_signed_in? %>
          <button class="c-btn -secondary -inverse -thin js-btn-follow action-btn"
            data-followed="<%= @followed %>"
            data-id="<%= @followed_id %>"
            data-resource="<%= @followed_resource %>">
              <% if (@followed) %>
                <svg class="c-icon -secondary -normal -secondary">
                  <use xlink:href="#icon-user-minus"></use>
                </svg>
              <% else %>
                <svg class="c-icon -secondary -normal -secondary">
                  <use xlink:href="#icon-user-plus"></use>
                </svg>
              <% end %>
          </button>
        <% else %>
          <a href="/users/sign_in" class="c-btn -secondary -inverse -thin action-btn">
            <svg class="c-icon -normal -secondary">
              <use xlink:href="#icon-user-plus"></use>
            </svg>
          </a>
        <% end %>
      </div>

      <% if ( controller_name === 'investigators') || controller_name === 'users' %>
        <%
          case controller_name
            when 'investigators'
              user_id = (@investigator && @investigator.user.present?) ? @investigator.user.id : nil
            when 'users'
              user_id = (@user) ? @user.id : nil
          end
        %>
        <% if user_id.present? %>
          <% if user_signed_in? %>
            <button class="c-btn -secondary -inverse -thin js-btn-toggle-message action-btn" data-user="<%= user_id %>" type="button" name="button">
              <svg class="c-icon -normal -secondary">
                <use xlink:href="#icon-message"></use>
              </svg>
            </button>
            <div id="form-message-<%= user_id %>" class="c-form-message -mobile js-form-message">
              <%= form_for Mailboxer::Message.new, remote: true, url: :message, as: :message do |f| %>
              <div class="form-row">
                <%= f.label :subject, 'Subject' %>
                <%= f.text_field :subject %>
              </div>
              <div class="form-row">
                <%= f.label :body, 'Message' %>
                <%= f.text_area :body %>
                <%= f.hidden_field :receiver, value: user_id %>
              </div>
              <div class="form-row">
                <%= f.submit 'Send', class: 'c-btn -secondary' %>
              </div>
              <% end %>
            </div>
          <% else %>
            <%= link_to user_session_path, class: 'c-btn -secondary -inverse -thin action-btn' do %>
              <svg class="c-icon -normal -secondary">
                <use xlink:href="#icon-message"></use>
              </svg>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

   <% end %>

  </div>
</div>
