<div class="column small-4">
  <div id="userActions">
    <ul class="c-btn-container">
      <li>
        <form method="POST" action="/follows/<%= @followed_resource %>/<%= @followed_id %>"
          data-remote=true>
          <button type="submit" class="c-btn -secondary -inverse">
            <%= (@followed) ? 'Unfollow' : 'Follow' %>
          </button>
        </form>
      </li>
    </ul>
    <ul class="c-btn-container">
      <li><a href="/network/<%= current_user.id %>/projects/new" class="c-btn -transparent -extra-thin">+ Project</a></li>
      <li><a href="/network/<%= current_user.id %>/posts/new" class="c-btn -transparent -extra-thin">+ Post</a></li>
      <li><a href="/network/<%= current_user.id %>/events/new" class="c-btn -transparent -extra-thin">+ Event</a></li>
    </ul>
  </div>
</div>
