<div class="row collapse">
  <% if @projects && @projects.size() > 0 %>
    <% @projects.each do |p| %>
      <div class="column small-12 medium-4">
        <div class="c-card -projects">
          <h3 class="-underlined">
            <a href="/investigators/<%= p.project_leads.first.try(:id) %>">
              <%= p.project_leads.first.try(:name) %>
            </a>
          </h3>

          <h2><%= link_to p.title, project_path(p.slug_or_id) %></h2>

          <p>
            <% p.cancer_types.each do |t| %>
              <span class="c-tag -mg">
                <a href="/cancer-types/<%= t.slug %>">
                  <%= t.name %>
                </a>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @events && @events.size() > 0 %>
    <% @events.each_with_index do |e, index| %>
      <div class="column small-12 medium-4">
        <div class="c-card -events <% if index == 0 %>-inverse<% end %>">
          <% if e.country? %>
            <h3 class="-underlined -alternative">
              <% country = Country.find_by( country_name: e.country ) %>
              <!-- TODO: In case country dosen't exist -->
              <% if country %>
                <a href="/countries/<%= country.country_iso_3 %>">
                  <%= e.city %>, <%= e.country %>
                </a>
              <% end %>
            </h3>
          <% end %>
          <h2><%= link_to e.title, event_path(e.id) %></h2>
          <p><%= truncate(e.description.html_safe, :length => 300) %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @organizations && @organizations.size() > 0 %>
    <% @organizations.each_with_index do |o, index| %>
      <div class="column small-12 medium-4">
        <div class="c-card <% if index == 0 %>-inverse<% end %>">
          <h3 class="-underlined">
            Organization
          </h3>
          <h2><%= link_to o.name, organization_path(o.id) %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
