<div class="card -mobile-large-1-1 -tablet-2-3">
  <p><%= @event.description %></p>
</div>

<div class="card -mobile-large-1-1 -tablet-1-3">
  <div class="c-period-bar">
    <div class="period">
      <ul class="start-date">
        <li><%= t 'starts' %></li>
        <li class="date"><%= @event.start_date %></li>
      </ul>
      <ul class="end-date">
        <li><%= t 'ends' %></li>
        <li class="date"><%= @event.end_date %></li>
      </ul>
    </div>
    <div class="bar"><div class="filled"></div></div>
  </div>

  <div class="c-projects-fields">

    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'location' %></h4>
      <p class="data">
          <a href="/map?type=events&group=countries&countries[]=<%= Country.find_by( country_name: @event.country ).id %>">
            <%= @event.address %>, <%= @event.country %>
          </a>
      </p>
    </div>

    <% if @event.participants %>
      <div class="project-field">
        <h4 class="c-title -smaller"><%= t 'participants' %></h4>
        <ul class="data">
          <!-- TO-DO: Event form returns participants as string instead of an array og objects -->
          <% @event.participants && @event.participants.kind_of?(Array) && @event.participants.each do |p| %>
            <li>
              <a href="/map?investigators[]=<%= p.id %>"><%= p.name %></a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>

