
<div class="row collapse">
  <div class="column small-8">
    <div class="l-content wrapper">
      <article class="l-content-article">
        <%= @event.description.html_safe %>
      </article>
    </div>
  </div>
  <div class="column small-4">
    <aside class="l-sidebar">
      <div class="sidebar-item">
        <h3><%= t 'location' %>(s)</h3>
        <ul class="c-list">
        <% iso = Country.find_by(country_name: @event.country).country_iso_3 %>
          <li class="list-item -mg-less"><%= link_to "#{@event.city} , #{@event.country}", "/countries/#{iso}" %></li>
        </ul>
      </div>
      <% if @event.participants %>
        <div class="sidebar-item">
          <h3><%= t 'participants' %>(s)</h3>
          <ul class="c-list">
            <% @event.participants.split(',').each do |p| %>
              <% participant = p[0] === ' ' ? p.slice(1, p.length-1) : p %>
              <% id = Investigator.find_by(name: participant).try(:id) %>
              <li class="list-item -mg-less">
                <% if id %>
                  <%= link_to "#{participant}", "/investigators/#{id}" %>
                <% else %>
                  <%= participant %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @event.website %>
        <div class="sidebar-item">
          <h3><%= t 'website' %></h3>
          <ul class="c-list">
            <li class="list-item -mg-less"><a href="<%= @event.website %>" target="_blank"><%= @event.website %></a></li>
          </ul>
        </div>
      <% end %>
    </aside>
  </div>
</div>
