<div class="c-section-intro">
	<%= form.input :title, label: 'Project title_', label_html: { class: 'c-title -bigger -bold' }, :required => false %>
</div>
<div class="c-section-half -left">
	<h3 class="c-section-title">Description</h3>
	<%= form.input :summary %>
	<%= form.input :project_website %>
</div>
<div class="c-section-half">
	<%= form.input :start_date, as: :string, input_html: {id: 'add-project-start_date'} %>
	<div id="pickadate-start-container" class="pickadate-container" autofocus></div>
	<%= form.input :end_date, as: :string, input_html: {id: 'add-project-end_date'} %>
	<div id="pickadate-end-container" class="pickadate-container" autofocus></div>
</div>
