<div class="c-section-intro">
	<%= form.input :title, label: 'Project title_', label_html: { class: 'c-title -bigger -bold' }, :required => false %>
</div>
<%= form.input :summary %>
<%= form.input :project_website %>
<%= form.input :start_date %>
<%= form.input :end_date %>
