<%
	@PROJECT_ID = false
	if (@project.id)
		@PROJECT_ID = @project.id
	end
%>

<script> var PROJECT_ID = <%= @PROJECT_ID %>;</script>
<script> var AUTH_TOKEN = "<%= @user.authentication_token %>"</script>

<span class="user-manual"><%= link_to (t 'download'), download_user_manual_path, class: "-color-1 f-user-manual", download: 'User Manual', data: {turbolinks: false}, title: "User Manual" %></span>
<div class="c-section-intro">
	<%= form.input :title, label: @project.title.presence || "Project title_", label_html: { class: 'c-title -bigger -bold -hide-edited' }, :required => false, input_html: { class: '-editable'}, placeholder: "Project title_", value: @project.title.presence || "Project title_"  %>
</div>
<div class="c-section-container">
	<div class="c-section-half -left">
		<h3 class="c-section-title">Description</h3>

		<%= form.input :summary, label: "#{@project.summary}", label_html: { class: '-hide-edited' }, :required => false, input_html: {value: "#{@project.summary}", class: '-editable', rows: '40', placeholder: "Summary"} %>
	</div>
	<div class="c-section-half">
		<div class="c-pickadate">
			<%= form.input :start_date, as: :string, input_html: {id: 'add-project-start_date', class: 'pickadate-input'}, label_html: { class: 'c-section-title' }%>
			<div id="pickadate-start-container" class="pickadate-container" autofocus></div>
		</div>
		<span class="separator"></span>
		<div class="c-pickadate">
			<%= form.input :end_date, as: :string, input_html: {id: 'add-project-end_date', class: 'pickadate-input'}, label_html: { class: 'c-section-title' } %>
			<div id="pickadate-end-container" class="pickadate-container" autofocus></div>
		</div>
		<span class="separator"></span>
		<%= form.input :project_website, as: :string, label: 'project website', label_html: { class: 'c-section-title -one-line'}, input_html: {placeholder: 'http://example.org/', class: '-input-line'}, :required => false %>
		<span class="separator"></span>
		<%= form.input :project_type_ids, as: :collection_select, collection: @project_types, label: 'project type', label_html: { class: 'c-section-title -one-line'}, input_html: {class: 'chosen-select', multiple: true} %>
		<span class="separator"></span>
		<%= form.input :cancer_type_ids, as: :collection_select, collection: @cancer_types, label: 'cancer type', label_html: { class: 'c-section-title -one-line'}, input_html: {class: 'chosen-select', multiple: true} %>
		<span class="separator"></span>
		<%= form.input :funding_source_ids, as: :collection_select, collection: @funders, label: 'funding source', label_html: { class: 'c-section-title -one-line'}, input_html: {multiple: true, id: 'funding-sources-select'} %>
	</div>
</div>

<div class="c-section-container -staff -hide-staff" id="relations">
	<div class="c-staff -headers">
		<span class="-item">investigator</span>
		<span class="-ermsermsitem">organization*</span>
		<span class="-item">address</span>
		<span class="-item">lead</span>
	</div>
	<div id="c-pregenerated-container" class="c-staff">
	</div>
  <!-- <span class="button saveRelation">save</span> -->
</div>

<div class="c-section-container -staff">
	<div class="c-staff -row">
		<span class="c-section-title">terms</span>
	</div>
	<div class="c-staff -row">
		Submitted information will be verified by the GCPM team to ensure data quality, and may be standardized and/or formatted for consistency before it is published. Checking this box acknowledges that you agree to share this information for public display on the Global Cancer Project Map.
	</div>
	<div class="c-staff -row">
		<%= form.input :terms, as: :boolean %>
		
	</div>
</div>
