<div class="form-inputs c-staff -row c-pregenerated">
  <div class="-item -m-edited">
    <% if f.object.research_unit_id.present? %>
    <%= f.hidden_field :_destroy %>
    <%= link_to '×', '#', id: "delete-#{f.object.id}", class: 'remove_fields' %>
      <%= link_to @project.select_investigators(f.object.research_unit_id), '#' %>
    <% else %>
      <%= f.input :research_unit_id, label: 'Investigator', collection: @project.select_investigators, as: :collection_select, input_html: { class: 'chosen-select' }, label_html: {style: "display: none"}%>
    <% end %>
  </div>
  <div class="-item -m-edited">
    <% if f.object.research_unit_id.present? %>
    <%= f.hidden_field :_destroy %>
    <%= link_to '×', '#', id: "delete-#{f.object.id}", class: 'remove_fields' %>
      <%= link_to @project.select_organizations(f.object.research_unit_id), '#' %>
    <% else %>
      <select name="organizations" class="chosen-select" data-placeholder="Select or add investigation">
              <option value="">Random organization</option>
            </select>
    <% end %>
  </div>
  <div class="-item -m-edited">
    <% if f.object.research_unit_id.present? %>
	    <%= f.hidden_field :_destroy %>
	    <%= link_to '×', '#', id: "delete-#{f.object.id}", class: 'remove_fields' %>
      <%= link_to @project.select_addresses(f.object.research_unit_id), '#' %>
    <% else %>
      <select name="address" class="chosen-select" data-placeholder="Select or add investigation">
              <option value="">Somewhere</option>
            </select>
    <% end %>
  </div>
  <div class="-item -m-edited">
    <label for="tick-lead-1"></label><input type="checkbox" id="tick-lead-1" class="lead-investigator" checked="{@project.membership_type}"><span class="circle"></span>
  </div>
</div>
