<% if items && items.size() > 0 %>
  <% controller_name = controller.controller_name %>
  <div class="row collapse">
    <% items.each do |p| %>
      <div class="column small-12 medium-4">
        <div class="c-card -projects">
          <h3 class="-underlined">
            <a href="/investigators/<%= p.project_leads.first.try(:slug) ? p.project_leads.first.try(:slug) : p.project_leads.first.try(:id) %>">
              <%= p.project_leads.first.try(:name) %>
            </a>
          </h3>

          <h2><%= link_to p.title, project_path(p.slug ? p.slug : p.id) %></h2>

          <p>
            <% p.cancer_types.each do |t| %>
              <span class="c-tag -mg">
                <a href="/cancer-types/<%= t.slug %>">
                  <%= t.name %>
                </a>
              </span>
            <% end %>
          </p>

          <% if controller_name === 'users' %>
            <% if p.project_users.first.is_approved %>
              <a href="/network/<%= current_user.id %>/projects/<%= p.id %>/edit" class="c-btn -secondary">
                Edit
              </a>
            <% else %>
              <span class="pending">
                <svg class="c-icon icon-pending -medium"><use xlink:href="#icon-pending"></use></svg>
                Pending of Confirmation
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row collapse">
    <div class="column small-12">
      <div class="c-card">
        <p>No projects</p>
      </div>
    </div>
  </div>
<% end %>

<% if more %>
  <div class="row collapse">
    <div class="column small-12">
      <div class="c-card">
        <% page = @page + 1 %>
        <%= link_to (t 'show_more'),
          {
            :params => request.query_parameters.merge({ page: page })
          },
          class: "c-btn -circle",
          id: 'showMoreButton',
          remote: true
        %>
      </div>
    </div>
  </div>
<% end %>
