<%= render 'shared/user_actions_mobile', direction: '-vertical' %>

<div class="l-app-title">
  <div class="row collapse wrapper">
    <div class="column small-12 medium-8">
        <h1 class="-centered"><%= @project.title %></h1>

      <div class="c-title-btn">
        <% if user_signed_in? && current_user.projects.include?(@project) %>
          <%= link_to (t 'not_me'), remove_relation_project_path(@project), method: :patch, class: 'c-btn -transparent' %>
        <% elsif user_signed_in? %>
          <%= link_to (t 'this_is_me'), relation_request_project_path(@project), method: :patch, class: 'c-btn -transparent' %>
        <% end %>
      </div>

      <div class="c-summary-info row -collapse">

        <div class="column small-12 large-4 align-middle">
          <% if @project.project_lead.present? && @project.project_lead.user.present? && @project.project_lead.user.avatar.present? %>
            <div class="c-avatar -small -ph"
                 style="background-image: url(<%= @project.project_lead.user.avatar_url(:thumb) %>)">
            </div>
          <% else %>
            <div class="c-avatar -small -ph">
              <%= render 'shared/placeholder', person: @project.project_lead, size: '-big' %>
            </div>
          <% end %>

          <h3>
            <% if @project.project_lead.present? && @project.project_lead.name != '' %>
              <%= @project.project_lead.name %>
            <% else %>
              No project lead
            <% end %>
          </h3>
        </div>

        <div class="column small-12 large-4 align-middle">
          <div class="c-avatar -small">
            <svg class="c-icon icon-collaborators -inverse">
              <use xlink:href="#icon-collaborators"></use>
            </svg>
          </div>
          <h3><%= @project.investigators.any? ? @project.investigators.count - 1 : 0 %> <%= t 'collaborator'%>(s)</h3>
        </div>

        <% if @project.funding_sources && @project.funding_sources.size > 0 %>
          <div class="column small-12 large-4 align-middle">
            <div class="c-avatar -small">
              <svg class="c-icon icon-funding -inverse">
                <use xlink:href="#icon-funding"></use>
              </svg>
            </div>
            <div>
              <h3><%= t 'funding_source' %></h3>
              <span><%= @project.funding_sources.first.name %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
