<% if items && items.size() > 0 %>
  <div class="row collapse">
    <% items.each do |p| %>
      <div class="column small-12 medium-6">
        <div class="c-card -pad-bigger -projects">
          <h3 class="-underlined">
            <a href="/investigators/<%= p.project_leads.first.try(:id) %>">
              <%= p.project_leads.first.try(:name) %>
            </a>
          </h3>
          <h2><%= link_to p.title, project_path(p.id) %></h2>
          <p>
            <% p.cancer_types.each do |t| %>
              <span class="c-tag -mg">
                <a href="/cancer-types/<%= t.id %>">
                  <%= t.name %>
                </a>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
