
<div class="card -mobile-large-1-1 -tablet-2-3">
  <p><%= @project.summary %></p>
</div>

<div class="card -mobile-large-1-1 -tablet-1-3">
  <div class="c-period-bar">
    <div class="period">
      <ul class="start-date">
        <li><%= t 'starts' %></li>
        <li class="date"><%= @project.start_date %></li>
      </ul>
      <ul class="end-date">
        <li><%= t 'ends' %></li>
        <li class="date"><%= @project.end_date %></li>
      </ul>
    </div>
    <div class="bar"><div class="filled"></div></div>
  </div>

  <div class="c-projects-fields">
    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'cancer_types' %></h4>
      <p class="data">
        <% @project.cancer_types.each do |ct| %>
          <a href="/map?cancer_types[]=<%= ct.id %>" class="list-link"><%= ct.name %>. </a>
        <% end %>
      </p>
    </div>

    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'project_types' %></h4>
      <p class="data">
        <% @project.project_types.each do |pt| %>
          <a href="/map?project_types[]=<%= pt.id %>" class="list-link"><%= pt.name %>. </a>
        <% end %>
      </p>
    </div>

    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'location' %>(s)</h4>
      <ul class="data">
        <% @project.addresses.each do |l| %>
          <li>
            <a href="/map?countries[]=<%= l.country_id %>&group=points" class="list-link"><%= l.city %>, <%= l.country_name %>. </a>
          </li>
        <% end %>
      </ul>
    </div>


    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'organization' %>(s)</h4>
      <ul class="data">
        <% @project.organizations.each do |o| %>
          <li><a href="/map?organizations[]=<%= o.id %>"><%= o.name %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'funding_source' %>(s)</h4>
      <ul class="data">
        <% @project.funding_sources.each do |fs| %>
          <li><%= fs.name %></li>
        <% end %>
      </ul>
    </div>

    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'project_lead' %>(s)</h4>
      <ul class="data">
        <% @project.project_leads.each do |pl| %>
          <li><a href="/map?investigators[]=<%= pl.id %>"><%= pl.name %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="project-field">
      <h4 class="c-title -smaller"><%= t 'collaborator' %>(s)</h4>
      <ul class="data">
        <% @project.secondary_investigators.each do |si| %>
          <li><a href="/map?investigators[]=<%= si.id %>"><%= si.name %></a></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
