<section class="country">
  <div class="c-section-intro -color-4">
    <div id="map" class="map c-map -detail">
      <div class="c-map-intro-legend">
        <ul class="legend-list">
          <li class="item"><div class="icon -first"></div><%= t 'project_leads' %></li>
          <li class="item"><div class="icon -second"></div><%= t 'investigators' %></li>
        </ul>
        <div class="viel"></div>
      </div>
    </div>

    <div id="map-tooltip" class="c-map-tooltip"></div>

    <div class="intro-info">
      <div class="info">
        <h1 class="c-title -big"><%= @project.title %></h1>

        <div class="c-cards-profiles">
          <div class="c-card-user-profile">
            <a class="profile-picture">
              <div class="c-user-profile-picture -small"><%= @project.project_leads.first ? @project.project_leads.first.name[0] : '' %></div>
            </a>
            <div class="info">
              <a class="name"><%= @project.project_leads.first ? @project.project_leads.first.name : '' %></a>
            </div>
          </div>

          <div class="c-card-user-profile">
            <a class="profile-picture">
              <div class="c-user-profile-picture -small"><%= @project.secondary_investigators.first ? @project.secondary_investigators.first.name[0] : '' %></div>
            </a>
            <div class="info">
              <a class="organization"><%= @project.secondary_investigators.size() %> Collaborators</a>
            </div>
          </div>

          <div class="c-card-user-profile">
            <a class="profile-picture">
              <div class="c-user-profile-picture -small"></div>
            </a>
            <div class="info">
              <a class="name">Funding source</a>
              <a class="organization"><%= @project.funding_sources.first ? @project.funding_sources.first.name : '' %></a>
            </div>
          </div>
        </div>

      </div>
      <div class="c-buttons-group">
        <a class="c-button -inverse -filled btn-large">Follow</a>
        <div class="row-buttons">
          <a class="c-button -inverse">Share</a>
          <a class="c-button -inverse">Contact</a>
          <a class="c-button -inverse">More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-card-grid" id="content">
    <%= render(:partial => @current_type) %>
  </div>

</section>

<script type="text/javascript">
  var PROJECT_ID = <%= @project.id %>;
  var PROJECT_START_DATE = "<%= @project.start_date || 0 %>";
  var PROJECT_END_DATE = "<%= @project.end_date || 0 %>";
</script>
