<% title @project.title %>
<script type="text/javascript">
  var START_DATE = '<%= @project.start_date || 0 %>';
  var END_DATE = '<%= @project.end_date || 0 %>';
</script>

<section class="l-app -full">
  <div class="l-app-map">
    <div id="map" class="c-map"></div>
  </div>

  <%= render "shared/legend" %>

  <div class="l-app-title">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-8">
          <h1><%= @project.title %></h1>
        </div>
      </div>
      <div class="row collapse">
        <div class="column small-8">
          <div class="c-summary-info row -collapse">
            <div class="column small-12 medium-4 align-middle">
              <h3><%= @project.project_lead.name %></h3>
            </div>
            <div class="column small-12 medium-4 align-middle">
              <h3"><%= @project.investigators.count %> <%= t 'collaborator'%>(s)</h3>
            </div>
            <div class="column small-12 medium-4 align-middle">
              <h3><%= t 'funding_source' %></h3>
              <span><%= @project.funding_sources.first.name %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="l-grid">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-8">
        <div class="l-content">
          <article class="l-content-article">
            <%= @project.summary.html_safe %>
          </article>
        </div>
      </div>
      <div class="column small-4">
        <aside class="l-sidebar">

          <% if @project.start_date || @project.end_date %>
            <div class="sidebar-item c-dates-timeline">
              <div class="dates">
                 <% if @project.start_date %>
                  <div class="date">
                    <h3><%= t 'start_date' %></h3>
                    <span><%= @project.start_date %></span>
                  </div>
                <% end %>
                <% if @project.end_date %>
                  <div class="date">
                    <h3><%= t 'end_date' %></h3>
                    <span><%= @project.end_date %></span>
                  </div>
                <% end %>
              </div>

              <% if @project.start_date && @project.end_date %>
                <div class="timeline">
                  <div class="timeline-line"></div>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="sidebar-item">
            <h3><%= t 'cancer_types' %></h3>
            <ul class="c-list">
              <% @project.cancer_types.each do |ct| %>
                <li class="list-item"><%= link_to ct.name, "/cancer-types/#{ct.id}" %></li>
              <% end %>
            </ul>
          </div>

          <div class="sidebar-item">
            <h3><%= t 'project_types' %></h3>
            <ul class="c-list">
              <% @project.project_types.each do |pt| %>
                <li class="list-item"><%= link_to pt.name, "/map?data=projects&project_types[]=#{pt.id}" %></li>
              <% end %>
            </ul>
          </div>

          <div class="sidebar-item">
            <h3><%= t 'location' %>(s)</h3>
            <ul class="c-list">
              <% @project.addresses.each do |l| %>
                <% country = Country.find_by_id(l.country_id) %>
                <% iso = country ? country.country_iso_3 : nil %>
                <% if iso %>
                  <li class="list-item"><%= link_to "#{l.city}, #{l.country_name}", "/countries/#{iso}" %></li>
                <% end %>
              <% end %>
          </div>

          <div class="sidebar-item">
            <h3><%= t 'organization' %>(s)</h3>
            <ul class="c-list">
              <% @project.organizations.each do |o| %>
                <li class="list-item"><%= link_to o.name, "/organizations/#{o.id}" %></li>
              <% end %>
            </ul>
          </div>

          <div class="sidebar-item">
            <h3><%= t 'funding_source' %>(s)</h3>
            <ul class="c-list">
              <% @project.funding_sources.each do |fs| %>
                <li class="list-item"><%= fs.name %></li>
              <% end %>
            </ul>
          </div>

          <div class="sidebar-item">
            <h3><%= t 'project_lead' %>(s)</h3>
            <ul class="c-list">
              <% @project.project_leads.each do |pl| %>
                <li class="list-item"><%= link_to pl.name, "/investigators/#{pl.id}" %></li>
              <% end %>
            </ul>
          </div>

          <div class="sidebar-item">
            <h3><%= t 'collaborator' %>(s)</h3>
            <ul class="c-list">
              <% @project.secondary_investigators.each do |si| %>
                <li class="list-item"><%= link_to si.name, "/investigators/#{si.id}" %></li>
              <% end %>
            </ul>
          </div>
          </div>
        </aside>
      </div>
    </div>
</div>
