<% title @project.title %>

<% if user_signed_in? && current_user.projects.include?(@project) %>
  <%= link_to 'Remove relation', remove_relation_project_path(@project), method: :patch %>
<% elsif user_signed_in? %>
  <%= link_to 'Relation request', relation_request_project_path(@project), method: :patch %>
<% end %>

<section class="l-app -full">
  <div class="l-app-map">
    <div id="map" class="c-map"></div>
  </div>

  <%= render "shared/legend_projects" %>

  <div class="l-app-title">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-8">
          <h1><%= @project.title %></h1>

          <div class="c-summary-info row -collapse">

            <div class="column small-12 large-4 align-middle">
                <% #if @project.project_lead && @project.project_lead.img %>
                  <!-- <img src="<%# @project.project_lead.img %>" class="c-avatar -small" /> -->
                <% #else %>
                  <div class="c-avatar -small -ph"></div>
                <% #end %>
              <h3>
                <%= @project.project_lead && @project.project_lead.name %>
              </h3>
            </div>

            <div class="column small-12 large-4 align-middle">
              <div class="c-avatar -small">
                <svg class="c-icon icon-colab_icon">
                  <use xlink:href="#icon-colab_icon"></use>
                </svg>
              </div>
              <h3><%= @project.investigators.count %> <%= t 'collaborator'%>(s)</h3>
            </div>

            <% if @project.funding_sources && @project.funding_sources.size > 0 %>
              <div class="column small-12 large-4 align-middle">
                <div class="c-avatar -small">
                  <svg class="c-icon icon-funding_icon">
                    <use xlink:href="#icon-funding_icon"></use>
                  </svg>
                </div>
                <div>
                  <h3><%= t 'funding_source' %></h3>
                  <span><%= @project.funding_sources.first.name %></span>
                </div>
              </div>
            <% end %>

          </div>
        </div>
        <div class="column small-4">
          <%= render "shared/user_actions" %>
        </div>
      </div>


    </div>
  </div>

  <div class="l-app-navbar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-6">
          <ul class="c-tabnav" id="dataTabNav">
             <% @filters.each do |filter| %>
              <li class="tabnav-item">
                <%= link_to t(filter),
                  project_path(request.query_parameters.merge({ data: filter })),
                  class: "-secondary js-btn-mapmenu-type",
                  remote: true,
                  data: { datatype: filter }
                %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column small-6">
          <div id="toolbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="l-grid" id="content">
  <% if @current_type == 'info' %>
    <%= render 'projects/info' %>
  <%else%>
    <%= render 'projects/list' %>
  <% end %>
</div>
