<section class="l-app -full">
  <div class="l-app-map">
    <div id="map" class="c-map"></div>
  </div>

  <%= render "shared/legend" %>

  <div class="l-app-title">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-8">
          <h1><%= @project.title %></h1>
        </div>
      </div>
      <div class="row collapse">
        <div class="column small-8">
          <div class="c-summary-info row -collapse">
            <div class="column small-12 medium-4 align-middle">
              <h3><%= @project.project_lead.name %></h3>
            </div>
            <div class="column small-12 medium-4 align-middle">
              <h3><%= @project.investigators.count %> <%= t 'collaborator'%>(s)</h3>
            </div>
            <div class="column small-12 medium-4 align-middle">
              <h3><%= t 'funding_source' %></h3>
              <span><%= @project.funding_sources.first.name %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-app-navbar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-6">
          <ul class="c-tabnav" id="dataTabNav">
             <% @filters.each do |filter| %>
              <li class="tabnav-item">
                <%= link_to t(filter),
                  project_path(request.query_parameters.merge({ data: filter })),
                  class: "js-btn-mapmenu-type",
                  remote: true,
                  data: { datatype: filter }
                %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column small-6">
          <div id="toolbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="l-grid" id="content">
  <% if @current_type == 'info' %>
    <%= render 'projects/info' %>
  <% end %>
</div>

