<section class="country">
  <div class="c-section-intro -color-4">
    <div id="map" class="map c-map"></div>
    <div class="intro-info">
      <div class="info">
        <h1 class="c-title -big">Egypt</h1>
        <div class="c-numbers-grid">
          <div class="number-info">
            <label class="title">Projects</label>
            <p class="number">18</p>
          </div>
          <div class="number-info">
            <label class="title">Organizations</label>
            <p class="number">12</p>
          </div>
          <div class="number-info">
            <label class="title">Events</label>
            <p class="number">12</p>
          </div>
          <div class="number-info">
            <label class="title">Daly datasets</label>
            <p class="number">5</p>
          </div>
        </div>
      </div>
      <div class="c-buttons-group">
        <a href="/" class="c-button -inverse -filled btn-large">Follow</a>
        <div class="row-buttons">
          <a href="/" class="c-button -inverse">+ Project</a>
          <a href="/" class="c-button -inverse">+ Post</a>
          <a href="/" class="c-button -inverse">+ Event</a>
        </div>
      </div>
      <ul class="c-section-menu wrapper -color-0">
        <li class="item"><%= link_to (t 'projects'), '/', { :class => "-active"} %></li>
        <li class="item"><%= link_to (t 'people'), '/' %></li>
        <li class="item"><%= link_to (t 'events'), '/' %></li>
      </ul>
    </div>
  </div>

  <!-- <div class="country-data">
    <div class="c-legend-map-container">
      <div class="c-map"></div>

      <div class="c-map-legend">
        <h3 class="c-title -normal">Radiothearpy coverage and untreated deaths in pain</h3>
        <ul class="legend">
          <li class="item"><div class="legend-icon -color-1"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-2"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-3"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-4"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-5"></div>To be defined</li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="c-card-grid">

  <div class="card -1-2 -tablet-1-4">
    <h4 class="c-card-title -border-1"><%= t 'projects_submitted' %></h4>
  </div>

  <div class="card -1-2 -tablet-1-4">
    <h4 class="c-card-title -border-2"><%= t 'total_events' %></h4>
  </div>

  <div class="card -1-2 -tablet-1-4">
    <h4 class="c-card-title -border-2"><%= t 'people' %></h4>
  </div>

  <div class="card -1-2 -tablet-1-4">
    <h4 class="c-card-title -border-3"><%= t 'articles' %></h4>
  </div>

  <div class="card -tablet-2-3">
    <h4 class="c-card-title -border-3"><%= t 'featured_project' %></h4>
    <a disabled>
      <h3 class="c-title">A Novel Mechanism of GTPase Regulation: Arl2 Interaction with TBCD</h3>
    </a>
    <p class="_two-columns">
      Qualifying Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus Donec sed odio dui sed commodo cursus magna scelerisque nisl consectetur sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus...
    </p>
    <a disabled class="c-button -filled"><%= t 'read_article' %></a>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-1"><%= t 'project_update' %></h4>
    <a disabled>
      <h3 class="c-title">A Novel Mechanism of GTPase Regulation: Arl2 Interaction with TBCD</h3>
    </a>
    <div class="c-tag-list">
      <a disabled class="tag">Tag</a>
      <a disabled class="tag">Tag</a>
      <a disabled class="tag">Tag</a>
    </div>
    <p>Qualifying Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus...</p>
    <div class="c-card-user-profile">
      <a disabled class="profile-picture">
        <div class="c-user-profile-picture -small">
          <div class="initials">HK</div>
        </div>
      </a>
      <div class="info">
        <a disabled class="name">Hyung L Kim</a>
        <a disabled class="organization">Cedars-Sinai Medical</a>
      </div>
    </div>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-2"><%= t 'event' %></h4>
    <a disabled>
      <h3 class="c-title">Research Training in Cancer Prevention and Control in Morocco</h3>
    </a>
    <p>Qualifying Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus...</p>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-2"><%= t 'event' %></h4>
    <a disabled>
      <h3 class="c-title">Research Training in Cancer Prevention and Control in Morocco</h3>
    </a>
    <p>Qualifying Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus...</p>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-2"><%= t 'event' %></h4>
    <a disabled>
      <h3 class="c-title">Research Training in Cancer Prevention and Control in Morocco</h3>
    </a>
    <p>Qualifying Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus...</p>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-3"><%= t 'new_organization' %></h4>
    <a disabled>
      <h3 class="c-title">St. Jude Children's Research Hospital</h3>
    </a>
    <p>Non-profit organization</p>
    <p><strong>42</strong> Following · <strong>154</strong> Followers</p>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-3"><%= t 'featured_organization' %></h4>
    <a disabled>
      <h3 class="c-title">St. Jude Children's Research Hospital</h3>
    </a>
    <p>Non-profit organization</p>
    <p><strong>42</strong> Following · <strong>154</strong> Followers</p>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-3"><%= t 'featured_organization' %></h4>
    <a disabled>
      <h3 class="c-title">St. Jude Children's Research Hospital</h3>
    </a>
    <p>Non-profit organization</p>
    <p><strong>42</strong> Following · <strong>154</strong> Followers</p>
  </div>

  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-1"><%= t 'new_project' %></h4>
    <a disabled>
      <h3 class="c-title">A Novel Mechanism of GTPase Regulation: Arl2 Interaction with TBCD</h3>
    </a>
    <p>Qualifying Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur tempus ...</p>
  </div>

  <div class="card -mobile-large-1-2 -tablet-2-3 -content-1-2 -color-2 new-post-background">
    <h4 class="c-card-title -border-4"><%= t 'new_post' %></h4>
    <a disabled>
      <h3 class="c-title">Qualifying Multi-Transcript Signatures for Active Surveillance of Prostate Cancer</h3>
    </a>
    <p>Lorem ipsum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
  </div>

   <div class="card -tablet-2-3">
      <h4 class="c-card-title -border-3"><%= t 'new_post' %></h4>
      <a disabled>
        <h3 class="c-title">A Novel Mechanism of GTPase Regulation: Arl2 Interaction with TBCD</h3>
      </a>
      <p class="_two-columns">
        Qualifying Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus Donec sed odio dui sed commodo cursus magna scelerisque nisl consectetur sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus...
      </p>
      <a disabled class="c-button -filled"><%= t 'read_article' %></a>
    </div>

    <div class="card -mobile-large-1-2 -tablet-1-3">
      <h4 class="c-card-title -border-2">London, United Kingdom</h4>
      <a disabled>
        <h3 class="c-title">Jun 30th<br/>EMA-ESMO Workshop on Single-Arm Trials in Oncology</h3>
      </a>
      <p>Single-arm trials (SATs) have led to regulatory approval of oncology products in case of dramatic activity in well-defined populations with high unmet...</p>
    </div>

</div>


</section>
