<section class="country">
  <div class="c-section-intro -color-4">
    <div id="map" class="map c-map -detail">
      <div class="c-map-intro-legend">
        <ul class="legend-list">
          <li class="item"><div class="icon -first"></div><%= t 'project_leads' %></li>
          <li class="item"><div class="icon -second"></div><%= t 'collaborators' %></li>
        </ul>
        <div class="viel"></div>
      </div>
    </div>
    <div class="intro-info">
      <div class="info">
        <h1 class="c-title -big"><%= @country.country_name %></h1>
        <div class="c-numbers-grid">
          <div class="number-info">
            <label class="title">Projects</label>
            <p class="number">18</p>
          </div>
          <div class="number-info">
            <label class="title">Organizations</label>
            <p class="number">12</p>
          </div>
          <div class="number-info">
            <label class="title">Events</label>
            <p class="number">12</p>
          </div>
          <div class="number-info">
            <label class="title">Daly datasets</label>
            <p class="number">5</p>
          </div>
        </div>
      </div>
      <div class="c-buttons-group">
        <a href="/" class="c-button -inverse -filled btn-large">Follow</a>
        <div class="row-buttons">
          <a href="/" class="c-button -inverse">+ Project</a>
          <a href="/" class="c-button -inverse">+ Post</a>
          <a href="/" class="c-button -inverse">+ Event</a>
        </div>
      </div>
      <ul class="c-section-menu wrapper -color-0">
        <li><%= link_to (t 'projects'), country_path(request.query_parameters.merge({ type: 'org-project-markers' })), :class => !params['type'] ? '-active' : active_param?('type','org-project-markers') %></li>
        <li><%= link_to (t 'events'), country_path(request.query_parameters.merge({ type: 'org-event-markers' })), :class => active_param?('type','org-event-markers') %></li>
      </ul>
    </div>
  </div>

  <!-- Data tab not showing at the moment  -->
  <!-- <div class="country-data">
    <div class="c-legend-map-container">
      <div class="c-map"></div>

      <div class="c-map-legend">
        <h3 class="c-title -normal">Radiothearpy coverage and untreated deaths in pain</h3>
        <ul class="legend">
          <li class="item"><div class="legend-icon -color-1"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-2"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-3"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-4"></div>To be defined</li>
          <li class="item"><div class="legend-icon -color-5"></div>To be defined</li>
        </ul>
      </div>
    </div>
  </div> -->
</section>
