
<% title @country.country_name %>

<section class="l-app -full -secondary">
  <% if !browser.device.mobile? %>
    <%= render "desktop_show_intro" %>
  <% else %>
    <%= render "mobile_show_intro" %>
  <% end %>

  <div class="l-app-navbar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-12 medium-6">
          <ul class="c-tabnav" id="dataTabNav">
             <% @filters.each do |filter| %>
              <li class="tabnav-item">
                <%= link_to t(filter),
                  map_path(request.query_parameters.merge({ data: filter })),
                  class: "-secondary js-btn-mapmenu-type",
                  remote: true,
                  data: { datatype: filter }
                %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column small-12 medium-6">
          <div>
            <ul class="c-toolbar">
              <li id="download"class="toolbar-item -sortby">
                <a href="/api/map/download?data=projects&countries[]=<%= @country.country_iso_3 %>" class="c-btn -action -secondary-action" target="_blank" download>
                  <svg class="c-icon -small -inverse">
                    <use xlink:href="#icon-download"></use>
                  </svg>
                  Download
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="l-grid" id="content">
  <% if @current_type == 'events' %>
    <%= render 'events/list', items: @items, more: @more %>
  <% elsif @current_type == 'projects' %>
    <%= render 'projects/list', items: @items, more: @more %>
  <% elsif @current_type == 'data' %>
    <%= render 'data/countries'%>
  <% elsif @current_type == 'posts' %>
    <%= render 'posts/list', items: @items, more: @more %>
  <% else @current_type %>
    <%= render 'investigators/list', items: @items, more: @more %>
  <% end %>
</div>
