{{#if groups}}
  {{#each groups as |countries region|}}
    <div class="l-content">
      <div class="wrapper">
        <div class="row collapse">
          <div class="column small-12">
            <h2 class="-underlined -global">{{region}}</h2>
          </div>
        </div>
        <div class="row collapse">
            {{#each countries as |country|}}
              <ul class="c-list column small-6 medium-3">
                <a class="list-item" href="/countries/{{country.country_iso_3}}?data=projects&sortby=title_asc&global=all&region={{country.region_iso}}&country={{country.country_iso_3}}">{{country.name}}</a>
              </ul>
            {{/each}}
          </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="l-content">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-12">
          <p>No results.</p>
        </div>
      </div>
    </div>
  </div>
{{/if}}
