<div class="row collapse">
  <div class="column small-12 medium-6 large-4">
    <div class="c-data-item">
      <p class="title">Presence of screening programs</p>
      <h2 class="answer">
        {{#if screening_programs}} Yes {{else}} No {{/if}}
      </h2>
    </div>
  </div>
  <div class="column small-12 medium-6 large-4">
    <div class="c-data-item">
      <p class="title">Quality of registration data</p>
      <h2 class="answer">
        {{quality_of_vital_registration_dataquality_of_death_certificatio}}
      </h2>
    </div>
  </div>
  <div class="column small-12 medium-6 large-4">
    <div class="c-data-item">
      <p class="title">Pink Ribbon Red Ribbon Collaboration</p>
      <h2 class="answer">
        {{#if pink_ribbon_red_ribbon_collaborationpink_ribbon_red_ribbon_prr}} Yes {{else}} No {{/if}}
      </h2>
    </div>
  </div>
  <div class="column small-12 medium-6 large-4">
    <div class="c-data-item">
      <p class="title">UICC membership (number of organisations)</p>
      <h2 class="answer">
        {{union_for_international_cancer_control_membershipnumber_of_uicc}}
      </h2>
    </div>
  </div>
  <div class="column small-12 medium-6 large-4">
    <div class="c-data-item">
      <p class="title">Human development index category</p>
      <h2 class="answer">
        {{human_development_index_category2013}}
      </h2>
    </div>
  </div>
  <div class="column small-12 medium-6 large-4">
    <div class="c-data-item">
      <p class="title">Warning labels on cigarette packaging</p>
      <h2 class="answer">
        {{warning_labels_on_cigarette_packaging2013}}
      </h2>
    </div>
  </div>
</div>
