<div class="c-dropdown {{className}}">
  <span>{{#if label}}{{label}}{{/if}}</span>
  <div class="dropdown-value js-open">{{current.name}}</div>
  <div class="dropdown-content{{#if open}} -open{{/if}}{{#if contentClassName}} {{contentClassName}}{{/if}}">
    {{#each options}}
      <div class="dropdown-item">
        <a class="js-option" data-value="{{value}}" name="{{name}}">{{name}}</a>
      </div>
    {{/each}}
  </div>
  {{#if arrows}}
    <div class="arrows js-arrows-action">
      <svg class="c-icon icon-arrow_up -small -active"><use xlink:href="#icon-arrow_up"></use></svg>
      <svg class="c-icon icon-arrow_down -small"><use xlink:href="#icon-arrow_down"></use></svg>
    </div>
  {{/if}}
</div>
