<div class="c-dropdown {{className}}">
  <span>{{#if label}}{{label}}{{/if}}</span>
  <div class="dropdown-value js-open">{{current.name}}</div>
  <div class="dropdown-content{{#if open}} -open{{/if}}{{#if contentClassName}} {{contentClassName}}{{/if}}">
    {{#each options}}
      <div class="dropdown-item {{#if selected}} -selected{{/if}}">
        <a class="js-option" data-value="{{value}}" name="{{name}}">{{name}}</a>
      </div>
    {{/each}}
  </div>
</div>
