<div class="c-dropdown {{class}}">
  {{#if showHeader}}
    {{#if label}}
      {{label}}
    {{/if}}
    <div class="dropdown-value js-open">{{header}}</div>
  {{/if}}
  <div class="dropdown-content {{#if open}} -open {{/if}}">
    {{#each options}}
      <div class="dropdown-item">
        <a class="js-option" data-value="{{value}}" name="{{name}}">{{name}}</a>
      </div>
      {{/each}}
  </div>
</div>
