<div class="c-infowindow">
  {{#if project}}
    <h3><a href="/projects/{{project}}">{{title}}</a></h3>
    {{#if investigator}}
      <div class="investigator">
        <a href="/investigators/{{#if investigator_slug}}{{investigator_slug}}{{else}}{{investigator}}{{/if}}">{{investigator_name}}</a>
        <span class="c-tag">{{#if is_project_lead}}Project lead{{else}}Collaborator{{/if}}</span>
      </div>
      <div class="organization">
        {{#if organization}}
          <a href="/organizations/{{#if organization_slug}}{{organization_slug}}{{else}}{{organization}}{{/if}}">{{organization_name}}</a>
        {{/if}}
        {{#if location_city}}
          <p>{{location_city}}, {{location_country_name}}</p>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
  {{#if event}}
    <h3><a href="/events/{{event}}">{{title}}</a></h3>
    {{#if start_date}}
      {{#if end_date}}
        <p>{{#if start_date}}{{start_date}}{{else}}-{{/if}} / {{#if end_date}}{{end_date}}{{else}}-{{/if}}</p>
      {{/if}}
    {{/if}}
    <div class="organization">
      {{#if city}}
        <p>{{city}}, {{location_name}}</p>
      {{/if}}
    </div>
  {{/if}}
  {{#if resource_id}}
    <h3><a href="/investigators/{{#if resource_slug}}{{resource_slug}}{{else}}{{resource_id}}{{/if}}">{{resource_name}}</a></h3>
    {{#if organization}}
      <div class="organization">
        {{#if organization}}
          <a href="/organizations/{{#if organization_slug}}{{organization_slug}}{{else}}{{organization}}{{/if}}">{{organization_name}}</a>
        {{/if}}
        {{#if location_city}}
          <p>{{location_city}}, {{location_country_name}}</p>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
  {{#if investigations}}
    <h3>{{investigations}} investigations</h3>
  {{/if}}
  {{#if events}}
    <h3>{{events}} events</h3>
  {{/if}}

</div>
