<div class="c-infowindow">
  {{#if project}}
    <h3><a href="/projects/{{project}}">{{title}}</a></h3>
    {{#if investigator}}
      <div class="investigator">
        <a href="/investigators/{{investigator}}">{{investigator_name}}</a>
        {{#if location_city}}
          <p>{{location_city}}, {{location_country_name}}</p>
        {{/if}}
        <span class="c-tag">{{#if is_project_lead}}Project lead{{else}}Collaborator{{/if}}</span>
      </div>
    {{/if}}
  {{/if}}
  {{#if event}}
    <h3><a href="/events/{{event}}">{{title}}</a></h3>
  {{/if}}
  {{#if resource_id}}
    <h3><a href="/investigators/{{resource_id}}">{{resource_name}}</a></h3>
  {{/if}}
</div>
