
  <h3 class="c-title">People & Organizations</h3>

  {{#each elements}}

  <div class="element">

    <div class="row">
      <div class="column small-12 medium-6">
        <h4 class="c-title">Project Lead/Collaborator</h4>
        <div id="investigator-{{id}}" class="investigator c-select"></div>
      </div>
      <div class="column small-12 medium-6">
        <h4 class="c-title">Organizations</h4>
        <div id="organization-{{id}}" class="organization c-select"></div>
      </div>
    </div>

    <div class="row">
      <div class="column small-12 medium-12">
        <h4 class="c-title">Address</h4>
        <div id="address-{{id}}" class="address c-select"></div>
      </div>
    </div>

    <div class="row">
      <div class="column small-12 medium-6">
        <div id="lead-{{id}}" class="lead c-select"></div>
      </div>
      <div class="column small-12 medium-6">
        <a href="javascript:void(0);" id="delete-{{id}}" class="delete">Delete</a>
      </div>
    </div>

  </div>

  {{/each}}
