<ul class="marker-legend">
  {{#each items}}
    <li>
      <div class="legend-icon -{{dataType}}">
        {{{icon}}}
      </div>
      <div class="legend-label">{{name}}</div>
    </li>
  {{/each}}
</ul>
{{#if layer}}
<ul class="layer-legend">
  <li>
    <span class="name">{{layer.name}}</span>
    {{#if layer.legend}}
      <ul class="legend">
        {{#each layer.legend.items}}
          <li>
            <span class="square" style="background: {{color}}"></span>
            <span class="value">{{value}}</span>
          </li>
        {{/each}}
      </ul>
      {{#if layer.legend.Metrics}}
        <p class="metrics">{{layer.legend.Metrics}}</p>
      {{/if}}
    {{/if}}
  </li>
</ul>
{{/if}}
