<ul class="list">
  <li>
    <button class="item btn-mapmenu-action {{color}}" data-action="Layers/toggle">
      <svg class="c-svg {{color}}">
        <use xlink:href="#icon-layers"></use>
      </svg>
      Layers
    </button>
  </li>

  <li>
    {{!-- TO-DO: change 1 for the user id --}}
    <a href="/network/1/{{type}}/new" class="item {{color}}">
      <svg class="c-svg {{color}}">
        <use xlink:href="#icon-add"></use>
      </svg>
      {{#ifCond type '==' 'projects'}}
        Add project
      {{/ifCond}}
      {{#ifCond type '==' 'events'}}
        Add event
      {{/ifCond}}
    </a>
  </li>

  <li>
    <a href="#" class="item btn-mapmenu-action {{color}}" data-action="Save/toggle">
      <svg class="c-svg {{color}}">
        <use xlink:href="#icon-save"></use>
      </svg>
      Save map
    </a>
  </li>
</ul>

<ul class="list -mobile-fixed">
  <li>
    <a href="#" class="item btn-mapmenu-action {{color}}" data-action="Download/toggle">
      <svg class="c-svg {{color}}">
        <use xlink:href="#icon-download"></use>
      </svg>
      Download
    </a>
  </li>

  <li>
    <button href="#" class="item btn-mapmenu-action {{color}}" data-action="Sortby/toggle">
      <svg class="c-svg {{color}}">
        <use xlink:href="#icon-sort"></use>
      </svg>
      Sort by
    </button>
  </li>

  <li>
    <button href="#" class="item btn-mapmenu-action {{color}}" data-action="Filters/toggle">
      <svg class="c-svg {{color}}">
        <use xlink:href="#icon-filter"></use>
      </svg>
      Filter
    </button>
  </li>
</ul>
