<h2>
  {{name}}
  <button type="button" name="button" class="c-btn -secondary -icon js-btn-info">
    <svg class="c-icon -small -inverse"><use xlink:href="#icon-info"></use></svg>
  </button>
</h2>
{{#if data}}
  <!-- <p class="hint">*Estimated age-standardized rate per 100,000 adults</p> -->
  <table>
    <thead>
      <tr>
        <th>
          Country
        </th>
        <th class="-right">
          Cases
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><a href="/countries/{{this.iso3}}">{{this.country}}</a></td>
        <td class="-right">{{this.value}}</td>
      </li>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No data available</p>
{{/if}}
