<h2>{{name}}</h2>
{{#if data}}
  <p class="hint">*Estimated age-standardized rate per 100,000 adults</p>
  <table>
    <thead>
      <tr>
        <th>
          Country
        </th>
        <th class="-right">
          Percentage
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td><a href="/countries/{{this.iso3}}">{{this.country}}</a></td>
        <td class="-right">{{this.value}}%</td>
      </li>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No data available</p>
{{/if}}
