
<div class={{class}}>
  {{#if label}}
    <h3 for="" class="{{#if lableClass}} {{lableClass}} {{/if}}">
      {{label}}
    </h3>
  {{/if}}
  <textarea
    name="{{#if name}} {{name}} {{/if}}"
    type="{{#if type}} {{type}} {{/if}}"
    class="{{#if textareaClass}} {{textareaClass}} {{/if}}"
    placeholder="{{#if placeholder}} {{placeholder}} {{/if}}"
    value="{{#if value}} {{value}} {{/if}}" />
  </textarea>
  <p class="c-required -hidden">* Field required</p>
</div>
