
<%= simple_form_for(@event) do |f| %>
  <% f.error_notification %>
    <p class="required">* Required field</p>

    <div class="form-row">
      <%= f.input :title %>
    </div>

    <div class="form-row">
      <%= f.cktext_area :description %>
      <p class="required">* Required field</p>
    </div>

    <div class="form-row">
      <%= f.cktext_area :website %>
    </div>

    <div class="form-row">
      <%= f.cktext_area :excerpt %>
    </div>

    <div class="form-row">
      <%= f.input :start_date, as: :date, html5: true %>
    </div>

    <div class="form-row">
      <%= f.input :end_date, as: :date, html5: true %>
    </div>

    <div class="form-row">
      <%= f.cktext_area :participants %>
    </div>

    <div class="form-row">
      <%= f.cktext_area :address %>
    </div>

    <div class="form-row">
      <%= f.cktext_area :address2 %>
    </div>

    <div class="form-row">
      <%= f.input :country, as: :select, collection: Country.all.pluck(:country_name) %>
    </div>

    <div class="form-row">
      <%= f.input :city %>
    </div>

    <div class="form-row">
      <%= f.input :state %>
    </div>

    <div class="form-row">
      <%= f.input :latitude %>
    </div>

    <div class="form-row">
      <%= f.input :longitude %>
    </div>

    <div class="form-row">
      <%= f.input :postcode %>
    </div>

    <div class="form-row">
      <%= f.input :private, as: :radio_buttons %>
    </div>

    <div class="form-row">
      <%= f.input :online, as: :radio_buttons %>
    </div>

    <% if params[:error] || f.error_notification %>
      <p class="error">* Required field missing.</p>
    <% end %>


    <div class="form-row">
      <%= f.button :submit, "Submit", class: 'c-btn -primary' %>


<% end %>

<%= javascript_include_tag Ckeditor.cdn_url %>
