
<div class="l-app-map">
  <div id="map" class="c-map"></div>
</div>
<%= render "shared/legend_people" %>
<div class="l-app-title">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-12 medium-8">
        <h1><%= @organization.name %></h1>

        <div class="row">
          <div class="column small-12 medium-6">
            <ul class="c-pipe-list">
              <li><%= @organization.organization_type.present? ? @organization.organization_type.try(:name) : '' %></li>
            </ul>
          </div>
          <div class="column small-12 medium-6">
            <ul class="c-pipe-list">
              <li>
                <%= @organization.email_address.present? ? @organization.email_address : '' %>
              </li>
            </ul>
          </div>
        </div>

        <table class="c-numbers-list">
          <thead>
            <tr>
              <th><%= t 'projects' %></th>
              <th><%= t 'people' %></th>
              <th><%= t 'posts' %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @projects.size %></td>
              <td><%= @people.size %></td>
              <td><%= @posts.size %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column small-12 medium-4">
        <%= render "shared/user_actions" %>
      </div>
    </div>
  </div>
</div>
