{{#if label}}
  <label
    {{#if name}}for="{{name}}"{{/if}}
    {{#if labelClass}}class="{{labelClass}}"{{/if}}
  >
    {{label}}
  </label>
{{/if}}
<select
  {{#if multiple}}multiple="true"{{/if}}
  {{#if name}}name="{{name}}"{{/if}}
  {{#if inputClass}}class="{{inputClass}}"{{/if}}
  {{#if value}}value="{{value}}"{{/if}}
  {{#if required}}required="true"{{/if}}
  {{#if placeholder}}data-placeholder="{{placeholder}}"{{/if}}
>
  {{#if addNew}}
    <option id="add-new-{{name}}" class="add-new">Add new</option>
  {{/if}}
  {{#if blank}}
    <option></option>
  {{/if}}
  {{#each options}}
    <option value="{{value}}" {{#if selected}}selected{{/if}}>{{name}}</option>
  {{/each}}
</select>
{{#if required}}
  <p class="c-required">* Field required</p>
{{/if}}
