<div class="c-counters -<%= @current_type %>">
  <div class="wrapper">
    <div class="row">

      <% if @current_type == 'projects' %>

        <% gridSize = params.key?('countries') ? 3 : 4 %>
        <% if params.key?('countries') %>
          <div class="column small-#{gridSize}">
            <h3>Investigations</h3>
            <span class="amount"><%= @investigations %></span>
          </div>
        <% end %>
        <div class="column small-#{gridSize}">
          <h3>
            <%= t @current_type %>
          </h3>
          <span class="amount"><%= @items_total %></span>
        </div>
        <div class="column small-#{gridSize}">
          <h3>Project leads</h3>
          <span class="amount"><%= @project_leads %></span>
        </div>
        <div class="column small-#{gridSize}">
          <h3>Collaborators</h3>
          <span class="amount"><%= @collaborators %></span>
        </div>

      <% elsif @current_type == 'events' %>

        <div class="column small-12">
          <h3>Events</h3>
          <span class="amount"><%= @items_total %></span>
        </div>

      <% elsif @current_type == 'people' %>
        <div class="column small-12">
          <h3>People</h3>
          <span class="amount"><%= @items_total %></span>
        </div>
      <% end %>

    </div>
  </div>
</div>
