<% if @events && @events.size() > 0 %>
  <!-- Events cards -->
  <% @events.each do |e| %>
    <div class="card -mobile-large-1-2 -tablet-1-3">
      <h4 class="c-card-title -border-2"><%= e.city %>, <%= e.country %></h4>
      <%= link_to event_path(e.id), { :class => "link" } do %>
        <h3 class="c-title"><%= e.title %></h3>
      <% end %>
      <p><%= truncate(e.description, :length => 300) %></p>
    </div>
  <% end %>

  <div class="c-pagination-button">
    <%= link_to (t 'show_more'),
            map_path(request.query_parameters.merge({ limit: (params['limit'] ? params['limit'].to_i + 1 : 2 )  })),
            class: "circle-button",
            remote: true,
            data: {magic: true} %>
  </div>
<% else %>
  <div class="c-no-items -padding wrapper">
    <p>No events</p>
  </div>
<% end %>

