<div id="map-filters" class="c-modal">
  <!-- WINDOW -->
  <div class="modal-window">
    <!-- Modal close button -->
    <button href="#" class="modal-close js-btn-modal-close">
      <svg><use xlink:href="#shape-close"></use></svg>
    </button>

    <!-- Modal wrapper button -->
    <div class="modal-wrapper">
      <div class="modal-content">
        <form id="map-filters-form" action="">
        <input type="hidden" name="type" value="<%= request.query_parameters['type'] %>">

          <h2 class='modal-title'>Filters</h2>
          <div class='c-map-filters'>

            <!-- COMMON FILTERS -->
            <div class="grid-filters">
              <div class="grid-item">
                <div class="c-select">
                  <%= select_tag 'countries[]', options_for_select(@countries.map {|c| [c.country_name, c.id]}, @params['countries']), 
                      class: 'chosen-select chosen-multiselect',
                      "data-placeholder": "All countries",
                      multiple: true %>
                </div>
              </div>
              <div class="grid-item">
                <div class="c-select">
                  <%= select_tag 'organization_types[]', options_for_select(@organization_types.map {|c| [c.name, c.id]}, @params['organization_types']), 
                      class: 'chosen-select chosen-multiselect',
                      "data-placeholder": "All organization types",
                      multiple: true %>
                </div>
              </div>
              <div class="grid-item">
                <div class="c-select">
                  <%= select_tag 'cancer_types[]', options_for_select(@cancer_types.map {|c| [c.name, c.id]}, @params['cancer_types']), 
                      class: 'chosen-select chosen-multiselect',
                      "data-placeholder": "All cancer types",
                      multiple: true %>
                </div>
              </div>
              <div class="grid-item">
                <div class="c-select">
                  <%= select_tag 'organizations[]', options_for_select(@organizations.map {|c| [c.name, c.id]}, @params['organizations']), 
                      class: 'chosen-select chosen-multiselect',
                      "data-placeholder": "All organizations",
                      multiple: true %>
                </div>
              </div>
              <div class="grid-item">
                <div class="c-select">
                  <%= select_tag 'project_types[]', options_for_select(@project_types.map {|c| [c.name, c.id]}, @params['project_types']), 
                      class: 'chosen-select chosen-multiselect',
                      "data-placeholder": "All project types",
                      multiple: true %>
                </div>
              </div>
            </div>

            <!-- DATE FILTERS -->
            <div class="grid-filters">
              <div class="grid-item">
                <div class="c-pickadate">
                  <label for="pickadate-start-input">Start date</label>
                  <input type="text" name="start_date" id="pickadate-start-input" class="pickadate-input" value="<%= @params['start_date'] %>">
                  <div id="pickadate-start-container" class="pickadate-container" autofocus></div>
                </div>
              </div>
              <div class="grid-item">
                <div class="c-pickadate">
                  <label for="pickadate-end-input">End date</label>
                  <input type="text" name="end_date" id="pickadate-end-input" class="pickadate-input" value="<%= @params['end_date'] %>">
                  <div id="pickadate-end-container" class="pickadate-container" autofocus></div>
                </div>
              </div>                          
            </div>

            <div class="grid-buttons">
              <button type="button" class="c-button js-btn-modal-close">Cancel</button>
              <button type="submit" class="c-button -filled">Apply</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
