
<section class="l-app -main -full">
  <div class="l-app-upperbar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-6">
          <div class="c-breadcrumbs" id="breadcrumbs"></div>
        </div>
        <div class="column small-6">
        </div>
      </div>
    </div>
  </div>

  <div class="l-app-map">
    <div id="map" class="c-map"></div>
    <div id="timeline" class="c-timeline"></div>

    <div class="c-mobile-layers">
      <button id="layersBtn" class="c-btn -primary -action -thin js-action-layers" data-action="layers" title="Layers">
        <svg class="c-icon -small -inverse">
          <use xlink:href="#icon-layers"></use>
        </svg>
      </button>
      <div id="layers" ></div>
    </div>
  </div>

  <!-- <div id="legend" class="c-legend -main"></div> -->

  <div class="l-app-navbar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-6">
          <ul class="c-tabnav" id="dataTabNav">
             <% @filters.each do |filter| %>
              <li class="tabnav-item">
                <%= link_to t(filter),
                  map_path(request.query_parameters.merge({ data: filter })),
                  class: "js-btn-mapmenu-type",
                  remote: true,
                  data: { datatype: filter }
                %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column small-6">
          <div id="toolbar"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-app-bottombar">
    <div id="counters">
      <%= render 'map/counters' %>
    </div>
  </div>
</section>

<div class="l-grid" id="content">
  <% if @current_type == 'events' %>
    <%= render 'events/list', items: @items, more: @more %>
  <% elsif @current_type == 'projects' %>
    <%= render 'projects/list', items: @items, more: @more %>
  <% else @current_type %>
    <%= render 'investigators/list', items: @items, more: @more %>
  <% end %>
</div>
