<div class="card -1-2 -tablet-1-4">
  <h4 class="c-legend-title">
    <div class="icon -color-3"></div>
    Breast
  </h4>
  <h2 class="c-title -big">215</h2>
</div>

<div class="card -1-2 -tablet-1-4">
  <h4 class="c-legend-title">
    <div class="icon -color-2"></div>
    NON-MELANOMA SKIN CANCER
  </h4>
  <h2 class="c-title -big">215</h2>
</div>

<div class="card -1-2 -tablet-1-4">
  <h4 class="c-legend-title">
    <div class="icon"></div>
    TRACHEA, BRONCHUS AND LUNG
  </h4>
  <h2 class="c-title -big">215</h2>
</div>

<div class="card -1-2 -tablet-1-4">
  <h4 class="c-legend-title">
    <div class="icon -color-4"></div>
    Other
  </h4>
  <h2 class="c-title -big">215</h2>
</div>

<!-- Prooject cards -->
<% @projects.each do |p| %>
  <div class="card -mobile-large-1-2 -tablet-1-3">
    <h4 class="c-card-title -border-2"><%= p.project_leads.first.name %></h4>
    <%= link_to project_path(p.id), { :class => "link" } do %>
      <h3 class="c-title"><%= p.title %></h3>
    <% end %>
    <p><%= truncate(p.summary, :length => 300) %></p>
  </div>
<% end %>

<div class="c-pagination-button">
  <%= link_to (t 'show_more'),
          map_path(request.query_parameters.merge({ limit: (params['limit'] ? params['limit'].to_i + 1 : 2 )  })),
          class: "circle-button",
          remote: true,
          data: {magic: true} %>
</div>
