<div class="c-section-intro">
	<div id="map" class="map c-map"></div>
	<ul class="c-section-menu">
	  <li><%= link_to (t 'projects'), map_path(request.query_parameters.merge({ type: 'project-markers' })), :class => active_param?('type','project-markers') %></li>
	  <li><%= link_to (t 'people'), map_path(request.query_parameters.merge({ type: 'people-markers' })), :class => active_param?('type','people-markers') %></li>
	  <li><%= link_to (t 'events'), map_path(request.query_parameters.merge({ type: 'event-markers' })), :class => active_param?('type','event-markers') %></li>
	</ul>
</div>

<!-- c-map-menu -->
<%= render partial: "map-menu" %>

<!-- c-map-filters -->
<%= render partial: "map-filters" %>


<!-- c-grid-proyects -->
<%= render partial: "map-proyects" %>

