<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= yield :title %> - Global Cancer Project Map</title>

    <%# if browser.device.ipad? %>
      <!-- <meta name="viewport" content="width=1024"> -->
    <%# else %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# end %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'lazy_load' %>
    <%# Lazy load: include here async libs like google analytics %>
    <%= javascript_include_tag 'https://www.google-analytics.com/analytics.js', async: true %>
    <%= javascript_include_tag 'https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInitGFW', async: true %>
  </head>
  <body>
    <%= render "shared/icons" %>
    <%= render "shared/header" %>
    <section class="l-main">
      <%= yield %>
    </section>
    <%= render "shared/footer" %>
    <%# CND Libs %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js' %>
    <%= javascript_include_tag 'https://d3js.org/d3.v3.min.js' %>
    <%# Application %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
