<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= yield :title %> - Global Cancer Project Map</title>
    <meta name="viewport" content="width=1024">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render "shared/icons" %>
    <%= render "shared/header" %>
    <section class="l-main">
      <%= yield %>
    </section>
    <%= render "shared/footer" %>
    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'https://d3js.org/d3.v3.min.js' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
