<div class="l-content">
  <div class="wrapper">
    <div class="row">
      <div class="column small-12 medium-8 large-6">

        <h2>Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-row">
            <%= f.input :email, required: true, autofocus: true %>
          </div>
          <div class="form-row">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
          <div class="form-row">
            <%= f.input :password_confirmation, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: 'c-btn -primary' %>

            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <% if provider.to_s == 'google_oauth2' %>
                  <%= link_to "Sign up with Google", omniauth_authorize_path(resource_name, provider), class: 'c-btn -primary -google' %>
                <% else %>
                  <%= link_to "Sign up with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "c-btn -primary -#{provider.to_s}" %>
                <% end %>
              <% end -%>
            <% end -%>
          </div>
        <% end %>

        <%= render "users/shared/links" %>

      </div>
    </div>
  </div>
</div>
